
{% load static %}

<title> Login </title> 


{% block css %}
 <link href="{%static 'css/login.css'%}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}

<body>
   
    <div class="loginbox">
        <img src="/static/img/avatar.png" class="avatar">
        
        <h1>Login Here</h1>
        
        <form method="post">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            
            <input type="submit" name="" value="Login">
            
            <!-- required links -->
            <p>Lost Your Password?<a  href="{% url 'password_reset' %}"> Reset Here</a></p><br>
            <p>Don't have an account?<a href="/signup/">  Sign Up</a></p>
        </form>
        
    </div>

</body>

{% endblock content %}