{% extends 'base.html' %}


{% load static %}



{% block title %}
{{article.title}}
{% endblock %}

{% block css %} 

 <link href="{%static 'css/article_view.css'%}" rel="stylesheet" type="text/css">

{% endblock css %}

{% block content %}

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" >
    <div class="hero-container">
      <h1 class="welcome">{{article.title}}</h1>
       <a href="#post" class="btn-get-started">Read More</a>
      
       
      
    </div>
  </section><!-- #hero -->



<h1 class="title">{{article.title}}</h1>
 
<img src="{{article.thumbnail.url}}"><br>


<div class="container">
    <div class="col-lg-12">
        <div class="author">
        Created By:
        {% for author in article.authors.all %}
        <a href="">{{author}}</a>
        {% empty %}
        Unknown
        {% endfor %}
        </div>
    </div>
</div>        
<br>


<div class="container">
    <div class="col-lg-12">
     <div class="post">

      $content
     
     </div> 
    </div>
</div>

<br>

<div class="container">
    <div id="tags" class="col-lg-12">
        <div class="rel-tag">
            Related Tags:
        </div>
        <ul class ="tag-list"><br>
        
            {% for tag in article.tags.all %}
              <li>  <a href="{% url 'tag_url' tag.id %}">{{tag}}</a></li>
            {% empty %}
            None
            {% endfor %}
        </ul>
    </div>
</div>           


<br>

 

<hr>

<h3>Got any queries? get it resolved <a href="{% url 'board_url' article.discussion_board.id %}">here</a>.</h3>



  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Pythonic</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
       Made with &hearts; for a Better Web <br>
       Designed by Nitin Kumar
      </div>
    </div>
  </footer><!-- #footer -->
{% endblock %}