<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<ul>
    <li><a href="{% url 'home_url' %}">Home</a></li>
    {% if not user.is_authenticated %}
    <li><a href="{% url 'login_url' %}">Login</a></li>
    <li><a href="{% url 'signup_url' %}">Signup</a></li>
    {% else %}
    <li><a href="{% url 'logout_url' %}">Logout</a></li>
    {% if user.is_superuser %}
    <li><a href="{% url 'modify_articles_url' %}">Articles</a></li>
    <li><a href="{% url 'modify_tags_url' %}">Tags</a></li>
    {% endif %}
    {% endif %}
</ul>
<hr>
{% block content %}
{% endblock %}
</body>
</html>