<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<ul>
    {% url 'home_url' as home %}
    {% if request.path == home %}
    <li>Home</li>
    {% else %}
    <li><a href="{% url 'home_url' %}">Home</a></li>
    {% endif %}

    {% if not user.is_authenticated %}
    {% url 'login_url' as login_u %}
    {% if request.path == login_u %}
    <li>Login</li>
    {% else %}
    <li><a href="{% url 'login_url' %}">Login</a></li>
    {% endif %}

    {% url 'signup_url' as signup %}
    {% if request.path == signup %}
    <li>Signup</li>
    {% else %}
    <li><a href="{% url 'signup_url' %}">Signup</a></li>
    {% endif %}

    {% else %}
    <li>Logged in as <strong>{{user}}</strong></li>
    {% url 'boards' as boards %}
    {% if request.path == boards %}
    <li>Discussion Boards</li>
    {% else %}
    <li><a href="{% url 'boards' %}">Discussion Boards</a></li>
    {% endif %}

    {% url 'password_reset' as password %}
    {% if request.path == password %}
    <li>Reset Password</li>
    {% else %}
    <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
    {% endif %}

    {% url 'logout_url' as logout %}
    {% if request.path == logout %}
    <li>Logout</li>
    {% else %}
    <li><a href="{% url 'logout_url' %}">Logout</a></li>
    {% endif %}

    {% if user.is_superuser %}
    {% url 'modify_articles_url' as mod_art %}
    {% if request.path == mod_art %}
    <li>Articles</li>
    {% else %}
    <li><a href="{% url 'modify_articles_url' %}">Articles</a></li>
    {% endif %}

    {% url 'modify_tags_url' as mod_tags %}
    {% if request.path == mod_tags %}
    <li>Tags</li>
    {% else %}
    <li><a href="{% url 'modify_tags_url' %}">Tags</a></li>
    {% endif %}
    {% endif %}
    {% endif %}
</ul>
<hr>
{% block content %}
{% endblock %}
</body>
</html>