{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<table border="2">
    <thead>
    <tr>
        <th>Article Title</th>
        <th>Contributed by</th>
        <th>Related Tags</th>
        <th>Date Created</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td><strong><a href="{% url 'article_url' article.id %}">{{article.title}}</a></strong><br>
            {{article.description}}</td>
            <td>
                {% for author in article.authors.all %}
                {{author}},
                {% endfor %}
            </td>
            <td>
                {% for tag in article.tags.all %}
                {{tag.title}},
                {% endfor %}
            </td>
            <td>{{article.date_created}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}