{% load static %}

 <link href="{%static 'css/signup.css'%}" rel="stylesheet" type="text/css">

<title> Sign Up </title>
{% block content %}

<body>
   
    <div class="signupbox">
        <img src="/static/img/avatar.png" class="avatar">
        
        <h1>Sign Up Here</h1>
        <form method="post">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            
            <p>Email</p>
            <input type="text" name="" placeholder="Enter Email">
            
            
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">

            <p>Confirm Password</p>
            <input type="password" name="" placeholder="Enter Password">



            
            <input type="submit" name="" value="Sign Up">
            
            <!-- required links -->
            <p>Already have an account?<a href="{% url 'login_url' %}"> Login</a></p>
        </form>
        
    </div>

</body>



{% endblock %}