{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<h2>Signup</h2>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Create Account</button>
</form><br>
Already have an account? Login <a href="{% url 'login_url' %}">here</a>.
{% endblock %}